<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="be.florien.anyflow.androidx-startup"
            tools:replace="android:authorities"
            tools:node="remove">
        </provider>
    </application>

</manifest>